*{
    background-color: black;
    color: antiquewhite;

   
}

.navbar{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}

.h:hover{
    border: 2px solid white ;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;


   

}