*{
    margin: 0px;
    padding: 0px;
    
}
   


body{
   min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ece8d9;
}

#intro{
    position: absolute;
    right: 0px;
    width: 800px;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: opacity 0.3s ease;

}

#intro:hover{
    opacity: 0.5;

}


nav{ 
    background-color: #494949;
    box-shadow: 3px 3px 5px rgba(red, green, blue, alpha);
    display: flex;
    color: white;
    position: fixed;
    
}
.navbar{
    position: fixed;
    background-color: #494949;
}

nav ul{
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

nav li{
    height: 50px;
    
}

.n{
    display: flex;
}

nav a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0  30px;
    height: 100%;
    font-size: larger;
    font-weight: 600;
}

nav a:hover{
       background-color: #ece8d9;
       color: #494949;
}

nav li:first-child{
    margin-right: auto;

}

.sidebar{
    position: fixed;
    top: 0ch;
    right: 0px;
    z-index: 999;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
}

.sidebar li{
    max-height: 100%;
}

.sidebar a{
    max-height: 100%;
}

#menu{   height: 30px;
    width: 30px;
        display: none; 
        cursor: pointer;
        padding: 10px;
        transition: transform 0.3s ease;} 

@media only screen and ( max-width:670px){
    #menu{
        display: flex;

    }

    nav a {
       display: none;
    }

    .sidebar a{
        display: flex;
    }

    #menu{
        display: flex;
    }
    #X{
        display: none;
    }

    
    
}





#menu:hover{
    background-color: #f0f0f0;
}

#X{
    height: 30px;
    width: 30px;
    top: 0;
    right:0 ;
    display: flex;


}

#d {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
}



#d svg{
    fill: var(--primary color)
}

#d svg:last-child{
    display: none;
}

body dark-mode{
    background-color: black;
    color: white;
}

nav darkmode{
    background-color: black;
    color: white;

}

.darkmode{
   background-color: black;
   
}

.darkmode #d svg:first-child{
    display: none;
}

.darkmode #d svg:last-child{
    display: block;
}

.darkmode{
    background-color: black;
    color: white;
}

.intro{
    margin-left: 70px;
    padding-top: 280px;
    font-size: 50px;
    font-weight: 700;
    background-color:  #ece8d9;
    color: #494949;
    text-align: center;

}

.about{
    margin-top:350px ;
    text-align: center;
    background-color: #f0f0f0;
    padding-top: 200px;
    color: #494949;
}

.ab{
    height: 400px;
    width: 800px;
    font-size: 25px;
    font-weight: 400;
    margin-left:400px  ;
    padding-top: 20px;
   
    color: #494949;
}
.body{
    background-color:  #ece8d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s{
    height: 400px;
    width: 800px;
    background-color: #ece8d9;

}

#s{ padding-top: 100px;
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 50%;
    cursor: pointer;
}

#s:hover{
    border-radius:solid  2px;
}

.skills{
    
    display: flex;
    


}

#skills{
    text-align: center;
    background-color: #ece8d9;
    padding-top: 100PX;
}

.project{
    background-color: #ece8d9;
    height: 800px;
    color: #494949;
    text-align: center;
}

.pro{
    height: 400px;
    width: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}



.des{
    padding-top: 60px;
    font-weight: 500;
    font-size: 25px;
}

.p{padding-top: 100px;
   display: flex;
   justify-content: space-around;
}

.p1{
    padding-top: 40px;

}
 

.contact{
    margin-top: 200px;
    background-color: #494949;
    color: #f0f0f0;
    height: 10px;
    text-align: center;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.i{
   
  
}

